
*{
margin: 0;
padding: 0;
}
p, a{
    color: aliceblue;
}
body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
main > .container {
    max-width: 980px;
    padding: 0 10px;
    margin: 0 auto;
}
main > .container h1{
    color: rgba(239, 233, 228, 0.819);
    padding-top: 40vh;
    text-align: center;
    font-size: 100px;
    font-family: 'Chivo Mono', monospace;
    font-family: 'Rubik Vinyl', cursive;

}
.container span{
    padding-top: 20px;
    font-size: 20px;
    display: block;
    text-align: center;
    color: aliceblue;
}
.container p{
    padding-top: 16px;
    font-size: 26px;
    text-align: center;
    color: aliceblue;
}
footer {
    margin-top: 90px;
    margin-bottom: 50px;
    text-align: center;
}
footer .g{
    padding-bottom: 5px;
    font-size: 18px;
}
footer .j{
    padding-bottom: 24px;
    font-size: 22px;
}
footer .j span{
    color: red;
    text-transform: uppercase;
}
footer a{
    ffont-size: 18px;
    text-decoration: none;
    color: rgb(228, 68, 10);
    text-decoration: none;
}
